@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-image: url("images/bg-intro-desktop.png");
	background-color: hsl(0, 100%, 74%);
	font-family: 'Poppins', sans-serif;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-gap: 50px;
	align-items: center;
	justify-items: center;
	width: 100vw;
	max-width: 1440px;
	height: 100vh;
	margin: auto;
}

.info {
	grid-column-start: 2;
	color: white;
	width: 40vw;
	height: auto;
}

.info h1 {
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 30px;
}

.info p {
	font-size: 16px;
}

form {
	width: 40vw;
	max-width: 450px;
	height: auto;
	background-color: white;
	border-radius: 10px;
	padding: 15px;
}

.form-main h2 {
	background-color: hsl(248, 32%, 49%);
	border-radius: 10px;
	padding: 10px 50px;
	font-size: 1rem;
	color: white;
	font-weight: 500;
	text-align: center;
	margin-bottom: 15px;
	box-shadow: 0 5px 0 0 rgba(0,0,0,.2); 
}

.form-main h2 span {
	font-weight: 300;
}

input {
	position: relative;
	width: 40vw;
	max-width: 400px;
	height: 45px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	margin: 10px 0 10px 5px;
	padding-left: 20px;
}

form button {
	width: 400px;
	height: 45px;
	margin-left: 5px;
	border: none;
	background-color: hsl(154, 59%, 51%);
	border-radius: 5px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,.2); 
	color: white;
	text-transform: uppercase;
}

form p {
	font-size: .5rem;
	text-align: center;
	margin-top: 10px;
	color: rgba(123,123,123,.8);
}

p span {
	color: red;
}

footer {
	position: relative;
	bottom: 0;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1050px) {
	.main {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
		width: 50vw;
		margin: 0 auto;
	}
	
	.info {
		grid-column-start: 1;
		height: auto;
		width: 100vw;
		margin-bottom: -55%;
	}
	
	.info h1 {
		font-size: 2rem;
		text-align: center;
	}
	
	.info p {
		text-align: center;
	}
	
	form, input {
		width: 80vw;	
	}
	
	input {
		max-width: 400px;
	}
}

@media screen and (max-width:375px) {
	body {
		background-image: url("images/bg-intro-mobile.png");
	background-color: hsl(0, 100%, 74%);
	}
	.main {
		width: 100vw;
		height: 100vh;
	}
	
	.info h1 {
		width: 100%;
		font-size: 1.8rem;
	}
	
	.info p {
		width: 90%;
		margin: -10px auto 50px;
	}
	
	.form-main h2 {
		width: 90%;
		margin: 100px auto 0;
	}
	
	form {
		width: 90vw;
		height: auto;
		margin: 20px auto;
	}
	
	form button {
		width: 80vw;
		margin: 0 auto;
	}
	
	form p {
		width: 90%;
		margin: 10px auto 0;
		font-size: .8rem;
	}
}


